# .gitignore

# Diretório de dependências
/node_modules

# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretório de build
/dist

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de configuração do editor
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos de ambiente
.env